.wrapper_size {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid black;

  .size_checkbox {
    padding-top: 0.75rem;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .active {
      text-decoration: underline;
      color: #7991f5;
      transition: 0.2s;
    }
    .disabled {
      text-decoration: none;
      color: #000;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: rgb(15, 106, 243);
      }
    }
  }

  .btn_group_size {
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    button {
      width: 20%;
      height: 20%;
      margin: 0.3rem;
      margin-left: 0;
    }
  }
  p {
    padding-top: 0.75rem;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}
