.header{
  display: flex;
  justify-content: space-between;
  h1{
    font-family:'Dela Gothic One', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  h2 {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.07em;
    text-align: left;
  }
}

.row{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 70%;

  .rowHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1, h2 {
      font-weight: bold;
    }
    img {
      width: 40px;
    }
  }

  .rowContent {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.07em;
    text-align: left;
  }

  .sizeBox {
    padding: 1rem;
    border: 2px solid black;
    display: inline-block;
    margin-right: 1rem;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
      background: rgba(139, 48, 242, 0.71);
      color: white
    }

    &.selectedSize{
      transform: scale(1.1);
      background: #8B30F2;
      color: white
    }

  }
}