.header {
    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 35.2px;
        letter-spacing: 0.1em;
        margin-top: 0;
        margin-bottom: 10px;
        padding-top: 0;
    }
    h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        letter-spacing: 0.1em;
        margin-top: 0;
        margin-bottom: 10px;
        padding-top: 0;
    }
    .article {
        font-size: 20px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.08em;
    }
    p {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
    }
}




