.wrapper_pattern {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;

  .header_pattern {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .minus {
      height: 1rem;
    }

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .list_pattern {
    padding-top: 1rem;

    .custom_checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .custom_checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    .custom_checkbox + label::before {
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      margin-right: 0.75rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    .custom_checkbox:checked + label::before {
      border-color: black;
      background-color: #7991f5;
      background-image: url('../../../../static/icons/Shape.svg');
    }

    .hlopok,
    .sintetika {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 1rem;
    }
  }
  .list_pattern_dis {
    display: none;
    transition: 0.2s;
  }
}
