.wrapper {
  min-width: 213px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--reup-unit));
  position: relative;
  transition: 0.3s;

  .productImg {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .likeIcon {
    position: absolute;
    right: calc(var(--reup-unit) * 3);
    top: calc(var(--reup-unit) * 3);
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .text,
  .actions {
    font-weight: normal;
    display: flex;
    gap: 12px;
    align-items: baseline;
  }
  .text {
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-bottom: 16px;
    margin-top: 8px;
  }
}
