.text {
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  margin: 0;
  letter-spacing: 0.07em;

  &.thin {
    font-weight: 300;
  }

  &.normal {
    font-weight: 500;
  }

  &.big {
    font-weight: 700;
  }

  &.line {
    text-decoration-line: line-through;
  }
}
