.text {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  &.normal {
    font-weight: 300;
  }
  &.bold {
    font-weight: 600;
  }
  &.big {
    font-size: 32px;
  }
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #000000;
}
