.wrapperAddressDelivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    padding-top: 0;
  }
  .addressDeliveryDropDown {
    align-self: flex-end;
    width: 80%;
    padding-top: 2rem;
    button {
      margin-top: 0.5rem;
      width: 34rem;
    }

    .ddItem {
      transition: 0.3s;
      width: 100%;
      cursor: pointer;
      text-align: left;
      &:after {
        display: block;
        content: '';
        height: 2px;
        width: 0;
        background: var(--reup-primary);
        transition: 0.3s;
      }
      &:hover {
        color: var(--reup-primary);
        font-weight: 500;
        &:after {
          width: 100%;
        }
      }
    }

    .ddTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
