.navbar{
    height: 4rem;
}

.navbar__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    gap: 3rem;
    margin-block: 0;
}

.link{
    color: black;
    text-decoration: none;
    margin-block: 0;
}

.linkSale{
    color: #BDDA63;
    text-decoration: none;
}