.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 33rem;

  .firstRow {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 6rem;
  }

  .submitButton {
    max-width: 28rem;
    padding: 1rem;
    border: 0;
    background-color: #8a8a8a;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .submitButton.active {
    background-color: #024efb;
    font-weight: 700;
    cursor: pointer;
  }
}
