.wrapper {
  > h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 0 2rem;
    margin: 0;
    margin-top: 2rem;
  }
}