.basketProductCard {
  display: flex;
  align-items: center;

  .priceAndAmount {
    display: flex;
    justify-content: space-between;

    .amount {
      width: 25%;
      display: flex;
      justify-content: space-between;
    }
  }

  .deleteButton {
    margin-left: 1rem;
  }
}
