.wrapperWithImages{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .reviewsImg {
    display: flex;
    gap: 2rem;
    .imgWrapper {
      width: 250px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.wrapper {
  padding: 1rem 2rem;
  border: 2px solid black;
  min-width: 500px;
  .contentWrapper {
    display: flex;
    gap: 1rem;
  }
  .row {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    :global(h1),
    :global(p){
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
    :global(h1):first-child{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .likes{
      display: flex;
      gap: 2rem;
    }
    :global(p){
      color: #979797;
    }
  }
  h1 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
  }
  p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
  }
  .imgWrapper {
    border-radius: 50%;
    background: #eee;
    width: 75px;
    height: 75px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 85%;
    > {
      display: flex;
      gap: 1rem;
    }
  }
}