.wrapper {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.personal {
  display: flex;
  margin: 1rem 0;
  text-align: left;
  gap: 10px;
}

.login {
  cursor: pointer;
}
