@import 'styles/mixins.scss';

.wrapper {
  @include contentWidth(true, true, calc(100% - 4rem));
  margin-top: 2rem;
  .contentWrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 2rem 0;
    @media screen and (min-width: 390px) and (max-width: 586px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .productList {
    width: 75%;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      @media screen and (min-width: 390px) and (max-width: 586px) {
        width: 100%;
      }
    }
  }
}
