.wrapper {
  padding: 0 50px;

  .chooseAll {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 227px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.07em;
  }

  .basketBody {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    .basketProductList {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}
