@import 'styles/mixins.scss';

.wrapper {
  display: flex;
  height: auto;
  position: relative;
  .slides {
    width: 100%;
  }
  .arrow {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 10;
    &.rotate {
      transform: rotate(180deg);
      right: 15px;
      left: auto;
    }
  }
}
