.slider {
  display: flex;
  align-self: start;
  gap: 1rem;
  justify-content: center;
  max-height: 872px;
  .previewSlides {
    width: 20%;
    display: flex;
    align-self: baseline;
    flex-direction: column;
    gap: 0.5rem;

    // overflow-y: scroll;
    .prev {
      transition: 0.3s;
      outline: 2px solid transparent;
      display: flex;
      background: black;
      &.active {
        opacity: 0.8;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .activeSlide {
    width: 75%;
    img {
      width: 100%;
      height: auto;
      max-height: 800px;
    }
  }

  .sizeBtn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px 20px;

    button {
      border: 1px outset #e4e4e4;
      border-radius: 50%;
      text-decoration: none;
      background-color: #e4e4e4;
      width: 20px;
      height: 20px;
      text-align: center;
      justify-self: center;
    }

    button:hover {
      background-color: black;
      color: white;
    }
  }
}
