.content .wrapper {
  margin-left: 1rem;
}

.content {
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.3s;
}

.moreText,
.titleWrapper {
  cursor: pointer;
}

.collapseIcon {
  cursor: pointer;
  width: 12px;
}

.rotate {
  transform: rotateZ(90deg);
  &__180 {
    transform: rotateZ(180deg);
  }
}

.wrapper {
  position: relative;
}

.icon {
  width: 6px;
  height: auto;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
