.title,
.content {
  // margin: 1rem 0;
}

.content:nth-child(2) {
  margin-left: 1rem;
  background-color: red;
}
.content {
  overflow-x: auto;
  overflow-y: hidden;
  transition: 0.3s;
}

.moreText,
.titleWrapper {
  cursor: pointer;
}

.minus {
  position: absolute;
  //   transition: 0.3s;
}

.collapseIcon {
  // cursor: pointer;
  // position: absolute;
  // right: 15px;
}

.rotate {
  transform: rotateZ(90deg);
  &__180 {
    transform: rotateZ(180deg);
  }
}

.wrapper {
  position: relative;
  //   transition: 0.3s;
}

.icon {
  width: 6px;
  height: auto;
}

.titleWrapper {
  // overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
