.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price {
      display: flex;
      gap: 15px;
    }
  }

  .num {
    color: var(--reup-blue);
    margin: 1rem 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    gap: 15px;
    padding: 1.5rem 2rem;
    > div {
      min-width: 200px;
      max-width: 250px;
    }
    .products {
      display: flex;
      gap: 10px;
      max-width: fit-content;
      .product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 150px !important;
        .productImg {
          align-self: center;
        }
      }
    }
    .payed {
      color: var(--reup-dark-green);
    }
    .status {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .info {
        text-align: right;
      }
    }
  }
}

.space1 {
  margin: 4px 0;
}
.space2 {
  margin: 8px 0;
}
