.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .num {
    color: #a175ff;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 1.5rem 2rem;
    > div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .row {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .prices {
      display: flex;
      flex-direction: column;
      letter-spacing: 0.07em;
      .oldPrice {
        font-weight: 300;
        font-size: 20px;
        text-decoration-line: line-through;
      }
      .price {
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
      }
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 350px;
    }
    .more {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}

.center {
  gap: 1.5rem !important;
  h4 {
    margin: 0;
    font-size: 24px;
    line-height: 110%;
  }
  p {
    font-weight: 100;
    font-size: 20px;
    line-height: 110%;
    margin: 0.5rem 0;
  }
}
.status {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #a175ff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .isPaid {
    color: #0a8831;
  }
}
