.wrapper {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
}

.radio {
  display: flex;
  align-items: flex-start;
}
