.wrapper {
    background: white;
    cursor: pointer;
  .text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -5px;
    outline: 1px solid black;
    padding: 15px 12px;
    margin-bottom: 1px;
  }
}
