.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .firstRow,
  .firstRow div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
  }
}
