.search__panel{
    width: 100%;
}

.search__panel__input{
    width: 30%;
    text-align: end;
    border: none;
    border-bottom: solid;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}