.wrapper {
  display: flex;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    top: 40%;
    background-color: #000000;
    z-index: 2;
  }
  .mainRight {
    display: flex;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 1px;
      top: 0;
      bottom: 0;
      background-color: #000000;
      z-index: 2;
    }
  }
  .leftSide {
    width: 30%;
    background: #e2e2e0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-end;
    padding-bottom: 100px;
    .aboutText {
      margin-top: 1rem;
    }
  }
  .rightSide {
    width: 70%;
    img {
      width: 100%;
      height: auto;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      .navItems {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
