.wrapper {
  margin-top: 2rem;
  border-top: 2px solid black;

  .moreBtn {
    align-self: end;
  }

  .imgWrapper img {
    width: 100%;
    width: 100%;
    object-fit: cover;
  }
  .row:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 524px;
  }
  .row:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 328px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
    padding-left: 4rem;

    &:hover {
      span {
        opacity: 1;
      }
    }
  }

  .text {
    width: 60%;
  }

  .info:first-child {
    align-items: start;
    text-align: left;
  }

  .info:last-child {
    align-items: end;
    text-align: left;
  }
}

.greenWrapper {
  background: var(--reup-green);
  width: auto;
}
.blueWrapper {
  background: #0a8ec7;
}
