.wrapper{
  margin-top: 2rem;
  border-top: 2px solid black;
  .imgWrapper img{
    width: 100%;
    height: 100%;
  }
  .row:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .row:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    cursor: pointer;
    transition: .3s;
    h1 {
      font-family: 'Dela Gothic One', sans-serif;
      font-size: 32px;
      font-weight: bold;
      line-height: 35px;
      letter-spacing: 0.04em;
      text-align: right;
    }
    span {
      text-align: right;
      font-family: 'Gilroy', sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0.07em;
      transition: .3s;
      opacity: 0;
    }
    &:hover{
      background: yellow;
      span{
        opacity: 1;
      }
    }
  }

}

.orangeWrapper {
  background: #FF8742;
}
.blueWrapper {
  background: #0A8EC7;
}
