.wrapper {
  position: relative;
  overflow: hidden;
  height: 65vh;
  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--reup-gray);
    transition: 0.3s;
    transform: translateX(100%);
    .brandName {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
    .description {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .btnDownload {
      top: 5%;
      position: absolute;
      left: 5%;
    }
    .backBtb {
      position: absolute;
      bottom: 5%;
      left: 5%;
      transform: rotateZ(180deg);
    }
    .nextBtb {
      position: absolute;
      bottom: 5%;
      right: 5%;
    }
  }
  .active {
    transform: translateX(0) !important;
  }
}
