@import 'styles/mixins.scss';

.wrapper {
  @include contentWidth();
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
  margin-top: 2px;
  border-bottom: 2px solid black;
  > button {
    text-align: right;
  }

  > button:nth-child(4n) {
    text-align: center;
  }

  > button:nth-child(2n) {
    text-align: left;
  }
}
