.formCard {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 6rem;

  div {
    margin: 0;
  }

  .header {
    font-family: Dela Gothic One;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 1.5rem;
    text-transform: lowercase;
    transform: translateX(-3rem);
  }

  input {
    width: 100%;
  }
}
