@import 'styles/mixins.scss';

.wrapper {
  @include contentWidth(true, true, calc(100% - 4rem));
  display: grid;
  grid-template-columns: 300px auto;
  gap: 3rem;
}
.description {
  display: flex;
  flex-direction: column;
}

.example {
  img {
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }
}
