.wrapper {
  display: flex;
  grid-template-columns: repeat(3, 400px);
  gap: 0px;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--reup-green);

  @media screen and (min-width: 390px) and (max-width: 586px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0.2rem;
  }
}
