@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

// Class font
.font-block-desc {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}
.font-block-main {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.625em;
}

.wrapper {
    margin-top: 3em;
    width: 18.75em;
    height: 30em;
    text-align: right;
    color: black;
    img {
        max-width: 20em;
        max-height: 23.5em;
    }

    .text {
        .title {
            @extend .font-block-main;
            margin: 0 auto;
        }
        .desc {
            @extend .font-block-desc;
            margin: 0 auto;
        }
        .price {
            @extend .font-block-main;
            margin: 0 auto;
        }
    } 
    
    .inCart {
        text-align: left;
        margin: 0 auto;
        button {
            width: 7.313em;
            height: 2em;
            background: #F0F0F0;
            border: 0;
            border-radius: 0.375em;
            font-family: 'Cabin', sans-serif;
            font-weight: 400;
            font-size: 0.875em;
            text-transform: uppercase;
            &:hover {
                background: #3A3A3A;
                color: white;
            }
        }     
    }
}