@import 'styles/mixins.scss';

.main {
  @include container;
  display: flex;
  flex-direction: column;
  .text {
    background: var(--reup-green);
    > h1 {
      margin: 2rem;
      text-align: right;
    }
  }
  > h1,
  .green > h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
    margin: 5rem 2rem 34px 2rem;
  }
  .green {
    background: var(--reup-green);
    padding-bottom: 8rem;
    h1 {
      color: white;
    }
    .left {
      text-align: right;
    }
  }
  .marquee {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    .el {
      padding: 0 2.5rem;
    }
  }
}

.greenText {
  padding: 0rem 2rem 34px 2rem;
  background: var(--reup-green);
}
