@import 'styles/mixins.scss';

.main {
  @include container;
  display: flex;
  flex-direction: column;
  .text {
    background: var(--reup-green);
    > h1 {
      margin: 2rem;
      text-align: right;
    }
  }
  > h1,
  .green > h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
    margin: 5rem 2rem 34px 2rem;
  }
  .green {
    background: var(--reup-green);
    padding-bottom: 8rem;
    h1 {
      color: white;
    }
    .left {
      text-align: right;
    }
  }
  .marquee {
    font-size: 64px;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: 0.185em;
    text-align: left;
    overflow: hidden;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-right: 0.3em;
  }
}

.greenText {
  padding: 0rem 2rem 34px 2rem;
  background: var(--reup-green);
}
