.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .label {
    font-weight: 700;
    font-size: 20px;
  }

  .selectedOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
