.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: relative;
  width: 60%;
  height: 80%;
  background: white;
  overflow-y: auto;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  .closeBtn {
    cursor: pointer;
  }
}

.content {
  padding: 0 2rem;
}
