.wrapper {
  z-index: 100;
  background: white;
  position: relative;
  padding: 10px;
  width: 70%;
  height: fit-content;
  max-height: 80%;
  overflow-y: scroll;
  padding-right: 30px;
  .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.backModal {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  padding: 5% 0;
  animation: fadeIn 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.closeMask {
  animation: fadeIn 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  z-index: 99;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
