.wrapper {
  width: 100%;
  box-sizing: content-box;
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  width: calc(100vw - 1rem);
  > button {
    border: none;
    box-sizing: content-box;
    font-weight: 700;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    width: 100%;
    &:last-child {
      border-right: none;
    }
  }
}
