@import '../../../../styles/mixins';

.banner {
  min-height: 60vh;
  background: var(--reup-gray);
  position: relative;
  .title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .btnDownload {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .bannerAddBtn {
    position: absolute;
    top: 10%;
    left: 20px;
  }
  .nextBtb {
    position: absolute;
    bottom: 10%;
    right: 5%;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
  border-bottom: 1px solid black;
  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
    .navItems {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px;
    }
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    .row {
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      &:first-child {
        background: var(--reup-primary-active);
      }
      &:last-child {
        background: #c9c9c1;
      }
    }
  }
}

.gallery {
  display: flex;
  gap: 10px;
  position: relative;
  @include contentWidth(true, true, calc(100% - 4rem));
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
  .galleryTitle {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  .galleryItem:not(:last-child) {
    min-height: 200px;
    background: var(--reup-gray);
    padding: 2rem;
  }
}
