.slides {
  display: flex;
  overflow: hidden;
  .slide {
    padding: 2rem;
    opacity: .5;
    transition: .3s;
    display: flex;
    gap: 2rem;
    &.active {
      opacity: 1;
    }
    .imgWrapper img{
      width: 100%;
      height: auto;
    }

  }
}

.slider{
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  background: var(--reup-green);
  height: calc(100% - 200px);
}

.countTitle {
  margin: 1rem 2rem ;
  transform: translateY(-94px);
}

.slideCount {
  height: 7px;
  width: 330px;
  margin-left: 2rem;
  display: flex;
  gap: 8px;
  transform: translateY(-94px);
  .activeCount {
    flex-grow: 1;
    background: black !important;
    opacity: 1 !important;
    transform: scale(1) !important;
  }
  .count {
    transition: .3s;
    background: #FFFFFF;
    opacity: 0.5;
    width: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      background: #000000;
    }
  }
}

.text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.moreBtn {
  margin-top: 4rem;
}