.slides {
  display: flex;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(54, 241, 229, 0) 20%, rgb(190, 218, 98) 20%);
  .slide {
    background: var(--reup-green);
    padding: 2rem;
    padding-top: 0;
    margin-top: 5rem;
    transition: .3s;
    display: flex;
    gap: 2rem;
    &.active .text{
      opacity: 1;
    }
    .imgWrapper {
      margin-top: -105px;
    }
    .imgWrapper img{
      width: 100%;
      height: auto;
    }
  }
}

.countTitle {
  margin: 1rem 2rem ;
}

.slideCount {
  height: 7px;
  width: 330px;
  margin-left: 2rem;
  display: flex;
  gap: 8px;
  background: var(--reup-green);
  .activeCount {
    flex-grow: 1;
    background: black !important;
    opacity: 1 !important;
    transform: scale(1) !important;
  }
  .count {
    transition: .3s;
    background: #FFFFFF;
    opacity: 0.5;
    width: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      background: #000000;
    }
  }
}

.text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  opacity: .5;
}

.moreBtn {
  margin-top: 2rem;
}

.footer {
  background: var(--reup-green);
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  transform: translateY(-50px);
}

.slider {
  background: linear-gradient(180deg, rgba(54,241,229,0) 26%, rgba(190,218,98,1) 26%);
}