.checkboxMain {
  display: flex;
  width: 34rem;
  gap: 12px;

  input {
    width: 34rem;
  }
  label {
    span {
      border-bottom: 2px solid black;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
