.checkboxMain {
  display: flex;
  flex-direction: column;
  width: 34rem;
  .checkboxGroupOne,
  .checkboxGroupTwo {
    display: flex;
  }
  .checkboxGroupOne {
    span {
      border-bottom: 1px solid black;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .checkboxGroupTwo {
    padding-top: 1.5rem;
  }
  input {
    width: 100%;
  }
  label {
    display: none;
  }
}
