.option {
  display: flex;
  gap: 12px;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
  border: 1px solid black;
  background-color: #7991f5;
  border-color: black;
  color: white;
}
