.contentWrapper {
  display: flex;
  gap: 20px;
  @media screen and (min-width: 390px) and (max-width: 586px) {
    display: flex;
    flex-direction: column;
  }

  .imgWrapper {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .info {
    @media screen and (min-width: 390px) and (max-width: 586px) {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      padding: 16px;
      padding-top: 0;
      width: 90%;
    }
    .heading {
      display: flex;
      gap: 2rem;
      align-items: center;

      h2 {
        @media screen and (min-width: 390px) and (max-width: 586px) {
          font-size: 20px;
        }
      }

      img {
        @media screen and (min-width: 390px) and (max-width: 586px) {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }
    }
    width: 50%;
    .price {
      display: flex;
      gap: 10px;
      align-items: baseline;
    }
    .sizes {
      display: flex;
      gap: 15px;
      @media screen and (min-width: 390px) and (max-width: 586px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      button {
        @media screen and (min-width: 390px) and (max-width: 586px) {
          padding: 11px 9px;
        }
      }
    }
    .code {
      color: #828282;
    }
    .oldPrice {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .space {
    margin: 1rem 0;
  }
  .line {
    height: 1px;
    background: black;
    width: 100%;
  }
}
