.wrapper {
  position: absolute;
  top: 35px;
  z-index: 100;
  right: 0;
  border: 1px solid black;
  background: var(--reup-gray);
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 400px;
  max-height: 500px;
  overflow: auto;
  .back {
    transform: rotateZ(180deg);
    svg {
      width: 20px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    color: #828282;
    text-align: right;
    align-items: flex-end;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
