.content {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  > div {
    width: 50%;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
}
