.wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 15;
  // gap: 1rem;

  .logo{
    padding: 0 2rem;
    z-index: 5;
    &.clickable {
      cursor: pointer;
    }
  }

  .firstRow{
    height: 7rem;
    margin: 0 auto;
  }

  .firstRow,
  .firstRow div{
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  .buttons{
    display: flex;
    padding: 0 2rem;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem !important;
    border: outset;
    border-color: black;
    border-right: none;
    border-width: 0.1rem;
    z-index: 5;
    img {
      width: 25px;
    }
  }
  

  .header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    border: outset;
    border-color: black;
    border-top: none;
    border-left: none;
    border-width: 0.1rem;
    transition: 0.3s linear;
    //z-index: 4;
  }




  .navBar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
  }

  .navBarHiden{
    top: -100px;
  }
}
