.likedBlock {
  // width: 100vw;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  // gap: 0px 0px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11vw, max-content));
  gap: 20px 40px;
  width: 20rem;

  padding: 0 32px;
  .likedSize > div {
    width: 11vw;
  }
}

.space {
  margin-top: 32px;
  margin-left: 30px;
}
