.likedBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 32px;
  margin-left: 30px;
}

.space {
  margin-top: 32px;
  margin-left: 30px;
}
