.likedBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .likedFlex {
    box-sizing: border-box;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .likedSize > div {
    width: 11vw;
  }
}

.space {
  margin-top: 32px;
  margin-left: 30px;
}
