.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .title,
  .price {
    white-space: nowrap;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
  }

  .infoRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2.5rem;

    .dashed {
      height: 1px;
      width: 100%;
      border-bottom: 1px dashed #000000;
    }
  }

  // .totalPrice {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-end;

  //   .price {
  //     font-weight: 700;
  //     font-size: 25px;
  //     line-height: 30px;
  //   }
  // }
}
