.slide{
  display: flex;
  opacity: 1;

  .side {
    width: 50%;
    display: flex;
    &:last-child {
      display: flex;
      flex-direction: column;
      .text {
        background: #FF8742;
        height: 100%;
        :global( >h1){
          padding-left: 2rem;
        }
        > div {
          border-top: 3px solid black;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          button{
            align-self: flex-end;
          }
        }
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
    0% {
      opacity: .4;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}