.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .brandCode {
      align-self: baseline;
      padding: 20px 0;
      color: #828282;
    }
  }

  .icon {
    img {
      width: 20px;
      height: 20px;
    }
  }
}
