.wrapper {
  padding: 16px 24px;
  border: 1px solid #828282;
  position: relative;
  height: 16px;
  cursor: pointer;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
      color: #828282;
    }
  }

  .dropdown {
    position: absolute;
    border: 1px solid #828282;
    width: 100%;
    left: -1px;
    top: calc(100%);
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    &.visible {
      transition: 0.3s;
      opacity: 1;
      pointer-events: auto;
    }

    .option {
      transition: 0.3s;
      padding: 8px 24px;
      background: white;
      &:hover {
        background: #e3e3e3;
      }
      &.selected {
        background: #e3e3e3;
      }
    }
  }
}
