.wrapper {
  padding: calc(var(--reup-unit ) * 2 ) calc(var(--reup-unit ) * 6);
  border: 2px solid black;
  display: inline-block;
  position: relative;
  .title {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.07em;
    cursor: pointer;
  }
  .dd{
    position: absolute;
    border: 2px solid black;
    width: 100%;
    left: 0;
    top: calc(100%);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    &.ddVisible {
      opacity: 1;
      pointer-events: auto;
    }
    .option {
      text-align: center;
      transition: .3s;
      padding: .5rem;
      font-size: 16px;
      font-weight: bold;
      background: white;
      &:hover{
        background: #e3e3e3;
      }
      &.selected {
        background: #8B30F2
      }

    }
  }
}

