.list {
  display: flex;
  gap: calc(var(--reup-unit) * 9);
  height: calc(100% + 10px);
  overflow-x: scroll;
  padding: 1rem 2rem;
  transition: 0.3s;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper {
  position: relative;
  overflow: hidden;

  .prevBtn,
  .nextBtn {
    z-index: 10;
    position: absolute;
    top: calc(45% - 2rem);
    transition: 0.3s;
    opacity: 0;
    background: white;
    border: 1px solid black;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      opacity: 1;
    }
  }
  .prevBtn {
    cursor: pointer;
    left: 10px;
  }
  .nextBtn {
    cursor: pointer;
    right: 10px;
    transform: rotate(180deg);
  }
}

.moreBtn {
  margin: 0 89%;
}

.btnWrapper {
  width: 200px;
  height: 84%;
  z-index: 10;
  position: absolute;
}

.btnWrapper:last-child {
  right: 0;
  top: 0;
}

.btnWrapper:hover {
  .prevBtn,
  .nextBtn {
    opacity: 1;
  }
}
