.wrapper {
  padding: 1.5em;
  .search_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    img {
      position: absolute;
      right: 1.875rem;
      &:hover {
        cursor: pointer;
      }
    }
    input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid black;
      padding-top: 1em;
    }
  }

  h1 {
    padding-top: 1em;
  }

  .search_result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
  }
}
