.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .new {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
  }

  .hit {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    margin-top: 3.625em;
  }

  .forYou {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    margin-top: 3.625em;
  }

  .ChoiseReup {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    margin-top: 3.625em;
  }

  .dataSourceNew {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .dataSourceHit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .dataSourceChoiseReup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    .leftBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      .upLeft {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        .upLeftCompletion {
          width: 20em;
          height: 23.5em;
          background-color:rgb(216, 92, 92);
          margin: 10px;
          span {
            font-size: 30px;
          }
        }       
      }

      .downLeft {
        width: 41.5em;
        height: 23.5em;
        margin: 10px;
        background-color:rgb(92, 125, 216);
        span {
          font-size: 30px;
        }
      }

    }

    .rightBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      .upRight {
        width: 41.5em;
        height: 23.5em;
        background-color: rgb(216, 92, 92);
        margin: 10px;
        span {
          font-size: 30px;
        }
      }

      .downRight {
        width: 41.5em;
        height: 48.5em;
        margin: 10px;
        background-color:rgb(92, 125, 216);
        span {
          font-size: 30px;
        }
      }
    }
  }

  .dataSourceForYou {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .stocks {
    height: 368px;
    width: 100%;
    background-color: rgb(148, 91, 201);
    text-align: center;
    margin: 0 auto;
    margin-top: 2.375em;
    padding: 0;
    font-size: 2.188em;
    margin-top: 3.625em;
  }

  .btn {
    text-align: center;
    margin-top: 6.625em;
    button {
      font-size: 1.5em;
      padding: 0.5em;
      &:hover {
        cursor: pointer;
      }
    } 
  }
}