.wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px 43px;
  text-align: center;
}

.bthHeader {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  width: 100%;
  text-align: center;
  margin-top: 0.7rem;
}

.close {
  cursor: pointer;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
