.wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid black;
  padding: 2rem;
  text-align: center;
}

.bthHeader {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
