.wrapper {
  width: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 15px;
  height: fit-content;
  position: sticky;
  top: 70px;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
