@import 'styles/mixins.scss';

.input {
  width: 100%;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  padding: 12px 0;
  margin: 2rem auto;
  &:hover,
  &:active,
  &:focus {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

.wrapper {
  @include contentWidth(true, true, calc(100% - 4rem));
}

.content {
  margin-top: 2rem;
  display: grid;
  gap: 30px;
  grid-template-columns: 280px auto;
  @media screen and (min-width: 390px) and (max-width: 586px) {
    grid-template-columns: auto;
  }
}
