.subPlaceholder {
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 19px;
}

.withOffset:not(input) {
  padding-bottom: 32px;
}

input.withOffset {
  margin-bottom: 32px;
}

.link {
  font-size: inherit;
}
