.menu {
  display: none !important;
  position: absolute;
  top: 48px;
  left: -71px;
  background: white;
  width: 200px;
  border: 1px solid black;
  z-index: 2;
  flex-direction: column;
  height: auto !important;
  gap: 0;
  align-items: center;

  .menuItem {
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center !important;
  }
}

.mask {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.wrapper {
  position: relative;
}

.visible {
  display: flex !important;
}
