.a {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  line-height: 0% !important;
  color: black;
}

.wrapper {
  cursor: pointer;
  width: max-content;
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0.1rem 0.2rem;
}
