.wrapperPersonalData {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      padding-top: 4.5rem;
    }

    .inputPersonalData {
      align-self: flex-end;
      width: 80%;
      padding-top: 2rem;

      input {
        margin-top: 0.5rem;
        width: 34rem;
      }

      .contact {
        padding-top: 2rem;
      }
    }

    .checkbox {
      align-self: flex-end;
      width: 80%;
      gap: 12px;
      padding-top: 2rem;
      padding-bottom: 2rem;

      .checkboxMain,
      .checkboxMainTwo {
        display: flex;
        width: 34rem;
        gap: 12px;

        input {
          width: 34rem;
        }
      }

      .checkboxMainTwo {
        margin-top: 1.5rem;
      }
    }
  }
  .btnClickSubmitForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btnWrap {
      align-self: flex-end;
      width: 80%;
    }
    button {
      width: 34rem;
    }
  }
}
