@import 'styles/mixins.scss';

.wrapper {
  @include contentWidth(true, true, calc(100% - 4rem));
  margin-top: 2rem;
  .title {
    margin-bottom: 2rem;
  }
  .line {
    width: 100%;
    height: 1px;
    background: black;
  }
}
