.banner{
  min-width: 55vw;
  height: 38vh;
  border-radius: calc(var(--reup-radius) * 2);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(116,4,190,1) 66%, rgba(0,212,255,1) 100%);
}