@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    animation: show 0.5s ease-in-out;
    overflow-y: scroll;

    .popup {
        position: absolute;
		z-index: 4;
		top: 50px;
		width: 75.625em;
        height: 58.375em;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
        padding: 2.5em;

        .scroll {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            .upBlock {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50%;
    
                .leftUpBlock {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-right: 20px;
                    width: 60%;             
                }
                    .descriptionOverflow {
                        overflow-y: scroll;
                        margin-top: 0;
                        padding-top: 0;
                        p {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 26.4px;
                            letter-spacing: 7%;
                        }
                    }
            }
    
            .maybeLike {
                h2 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 110%;
                }
            }
            
    
            .slideBlock {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
                img {
                    cursor: pointer;
                }
            }
        }
        
    }
}
