.more {
  text-align: right;
  cursor: pointer;
  width: 120px;
  transition: var(--reup-transition);

  &:hover {
    :global(p) {
      color: var(--reup-primary);
    }
    :global(svg line) {
      stroke: var(--reup-primary);
    }
  }

  &:active,
  &:focus {
    :global(p) {
      color: var(--reup-primary-active);
    }
    :global(svg line) {
      stroke: var(--reup-primary-active);
    }
  }

  :global(p) {
    font-size: 20px;
    transition: var(--reup-transition);
  }
}
