.wrapper {
  width: 87%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
    button {
      width: 213px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
    img {
      width: 0.5rem;
      height: auto;
      margin-left: 20px;
      transform: rotate(-90deg);
    }
  }
  .search_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      padding: 1rem;
      width: 10%;
      span {
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    // grid-template-rows: repeat(auto-fill, minmax(580px, 580px));
    // justify-content: space-between;
    // > div {
    //   padding: 1rem;
    //   width: 10%;
    //   span {
    //     margin-right: 1rem;
    //     margin-top: 1rem;
    //   }
  }
}
