.navbar {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbarItem {
  transition: .3s;
  cursor: pointer;
  &:hover {
    color: var(--reup-green)
  }
}
.navbarActive {
  transition: .3s;
  color: var(--reup-green);
  cursor: pointer;
  &:hover {
    color: var(--reup-green)
  }
}