.container {
  padding: 50px;

  .content {
    display: flex;
    padding-top: 32px;

    .switcherBox {
      width: 500px;
      height: 102px;
    }

    .sizesBox {
      margin-left: 50px;
      width: 100%;
    }
  }
}
