.wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #d9d9d9;
  height: 5.5rem;

  .firstRow {
    font-size: 20px;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin: auto 0;
  }
}
