@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Dela+Gothic+One&display=swap');

@keyframes animationLeft {
  0% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20%);
    opacity: 0.2;
  }
  40% {
    transform: translateX(-40%);
    opacity: 0.6;
  }
  60% {
    transform: translateX(-60%);
    opacity: 0.4;
  }
  80% {
    transform: translateX(-80%);
    opacity: 0.2;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
  }
}

@keyframes animationRight {
  0% {
    opacity: 1;
  }
  20% {
    transform: translateX(20%);
    opacity: 0.2;
  }
  40% {
    transform: translateX(40%);
    opacity: 0.6;
  }
  60% {
    transform: translateX(60%);
    opacity: 0.4;
  }
  80% {
    transform: translateX(80%);
    opacity: 0.2;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.wrapper {
  height: 54.438em;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;

  .leftBlock img {
    height: 54.438em;
    width: 46.875em;
  }

  .rightBlock {
    height: 54.438em;
    width: 49.185em;
    display: flex;
    flex-direction: column;

    .upRight {
      
      height: 26.188em;
      width: 100%;
    }

    .downRight {
      background-color: #FF8742;
      height: 28.25em;

      div {
        margin-top: 1.1em;
        margin-left: 2.5em;
        display: flex;
        flex-direction: column;

        h1 {
          font-family: 'Dela Gothic One';
          font-style: normal;
          font-weight: bolder;
          font-size: 64px;
          line-height: 110%;
          text-transform: lowercase;
        }

        .borderTop {
          padding: 0 auto;
          margin-left: -2.5em;
          border-top: 4px solid #000;

          h2 {
            font-family: 'Dela Gothic One';
            font-style: normal;
            font-weight: bolder;
            font-size: 32px;
            line-height: 110%;
            text-transform: lowercase;
            margin-left: 1.2em;
          }

          p {
            font-family: 'Dela Gothic One';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 110%;
            margin-left: 1.5em;
          }
        }

        a {
          border: 0;
          background: none;
          width: 50%;
          align-self: flex-end;

          button {
            border: 0;
            background: none;
            outline: none;
            width: 50%;
            align-self: flex-end;
            user-select: none;
            img {
              &:hover {
                cursor: pointer;
                user-select: none;
              }
            }
          }
        }
      }
    }
  }
}

.left {
  animation: animationLeft 0.5s ease-in-out;
}
.right {
  animation: animationRight 0.3s ease-in-out;
}
.hidden {
  display: none;
}



  