@import 'styles/mixins.scss';
.wrapper {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 210px);
  grid-auto-flow: dense;
  row-gap: 35px;
  justify-items: center;
  vertical-align: center;
  justify-content: center;
  > :not(:last-child):nth-child(10n) {
    grid-row: span 2;
    grid-column: span 2;
    min-width: 100% !important;
    height: 100% !important;
  }
}

.container {
  @include contentWidth(true, true, calc(100% - 4rem));
  margin-top: 2rem;
  display: grid;
  gap: 30px;
  grid-template-columns: 280px auto;
}
