.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid black;
  width: calc(100% - 60px);
  padding: 0 30px;
  transition: .3s;
  &:hover {
    background: white;
  }
}

.leftSide {
  align-items: center;
  display: flex;
  width: 90%;
  padding: 5px 0;
  justify-content: space-between;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid black;
}

.logo {
  cursor: pointer;
}

.notMain {
  background: white;
}

.hide {
  top: -70px;
}

.actions {
  display: flex;
  gap: 2rem;
  margin-top: -5px;
  > * {
    cursor: pointer;
  }
}